html, body {
	height: 100%;
	background-color: #f7f7f7;
	color: #111;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
}

#form {
	min-height: 100%;
	width: 830px;
	margin: auto;
}

#form .sidebar {
	position: fixed;
	
	top: 0px;
	
	bottom: 0px;
	width: 180px;
	margin-top: 1em;
	text-align: right;
	font-size: small;
	font-family: "Gill Sans", sans-serif;
}
#form .sidebar h1 {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 300;
}

#form .page {
	margin-top: 0.5em;
	background-color: white;
	padding: 0.2in;
	margin-top: 2em;
	margin-bottom: 2em;
	position: relative;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
	max-width: 600px;
	min-height: 100%;
	left: 200px;
	font-family: "Helvetica Neue", sans-serif;
}

#form .page.newItems {
	min-height: 100%;
}
#form .page.newItems .item-content * {
	cursor: copy;
}

.formEditor .items > div {
	margin-bottom: 1em;
	background-color: white;
	position: relative;
}

.item-header {
	position: relative;
	border-bottom: 1px solid #eee;
}
.item-header .number {
	display: inline-block;
	width: 30px;
	left: 10px;
	z-index: 2;
	position: absolute;
	font-weight: bold;
}
.item-header .description {
	/*min-height: 1em;*/
	min-height: 24px; /* hack for firefox, in which min-height: 1em doesn't work 100% */
	padding-left: 40px;
}
.item-content {
	padding-top: 0.5em;
}

.items .label {
	display: none;
}

*[data-form-item-type='title'] input {
	font-size: 2em;
	font-weight: bold;
	width: 100%;
	background-color: transparent;
	border: 1px solid gray;
}

.segmentedControl {
	display: inline-table;
	border-collapse: collapse;
}
.segmentedControl > div {
	display: table-cell;
	border: 2px solid #bbb;
	padding: 0.2em;
	cursor: default;
	min-width: 1.6em;
	text-align: center;
}
.segmentedControl > div.selected {
	background-color: #e2e2e2;
}

.newItems .segmentedControl > div.selected {
	background-color: inherit;
}

.newItems .segmentedControl > div:hover {
	background-color: #e2e2e2 !important;
}

.freeResponse {
	border: 1px dotted gray;
}

.hint {
	font-size: small;
	font-style: italic;
}

.newItemPicker {
	opacity: 0.7;
}
.newItemPicker > h6 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	color: gray;
	font-size: 14px;
	border-bottom: 2px solid gray;
	padding-bottom: 3px;
	width: 200px;
	margin: 0px auto;
}
.newItemPicker .label {
	display: block;
	font-size: small;
	font-weight: bold;
	margin-top: 1em;
}


.items .drag-placeholder {
	background-color: red;
	height: 100px;
}

.items > div .controls {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}
.items > div:hover .controls {
	display: block;
}
.controls > div {
	display: inline-block;
	font-size: x-small;
	font-weight: bold;
	color: white;
	background-color: gray;
	padding: 6px;
	margin-left: 0.2em;
}
.controls > div.point-value {
	padding-top: 4px;
	padding-bottom: 3px;
}
.controls > div.point-value [contentEditable] {
	min-width: 3em;
}
.controls > div.icon-drag {
	cursor: move;
}
.controls > div *[contentEditable] {
	display: inline-block;
	font-weight: bold;
}

.newItemPicker .controls {
	display: none !important;
}

.done {
	font-family: "Helvetica Neue", sans-serif;
	white-space: normal;
	text-align: right;
	/*font-weight: bold;*/
	border: none;
	background-color: #0CA5B0;
	font-size: 11px;
	color: white;
	/*box-shadow: 2px 2px 0px rgba(0,0,0,0.4);*/
	text-transform: uppercase;
	padding: 8px;
}
.done:disabled {
	opacity: 0.5;
}
.done:active {
	box-shadow: none;
	background-color: #c11;
}

/* email list subscription */

#email-list {
	background-color: #111;
	color: white;
	padding: 20px;
}
#email-list > div {
	width: 100%;
	max-width: 600px;
	margin: auto;
	text-align: center;
}
#email-list input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border: none;
	border-bottom: 2px solid white;
	background-color: transparent;
	color: white;
	font-size: 16px;
}

#email-list input[type=submit] {
	position: relative;
	bottom: 2px;
}

#subscribed {
	display: none;
	margin: auto;
	border-bottom: 2px solid white;
	padding-top: 20px;
}
#subscribed:target {
	display: block;
}

@media screen and (min-width: 736px) {
	#mobile-splash {
		display: none;
	}
}
@media screen and (max-width: 737px) {
	#form {
		display: none;
	}
	#mobile-splash {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		display: table;
	}
	#mobile-splash > div {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	#mobile-splash > div > div {
		padding: 10px;
		max-width: 400px;
		margin: auto;
	}
	#mobile-splash img {
		height: 150px;
		display: block;
		margin: auto;
	}
	#mobile-splash a {
		width: 90%;
		max-width: 300px;
		padding: 10px 0;
		background-color: #0CA5B0;
		color: white;
		text-decoration: none;
		display: block;
		margin: 10px auto;
	}
	#mobile-splash a.disabled {
		background-color: #777;
	}
}
