<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="apple-itunes-app" content="app-id=923914934"/>
	<meta name="description" content="Create printable quizzes, then grade them instantly with your phone's camera." />

	<!-- react -->
	{% if debug %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/react-with-addons.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/JSXTransformer.js"></script>
	{% else %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/react-with-addons.min.js"></script>
	{% endif %}
	
	<link rel='stylesheet' href='/static/base.css'/>
	
	{% block head %}
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>
