{% extends "base.html" %}

{% block body %}

<style>
html, body {
	margin: 0px;
	height: 100%;
}
.centered {
	display: table;
	width: 100%;
	height: 100%;
}
.centered > div {
	display: table-row;
}
.centered > div > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#header-row {
	height: 40px;
	background-color: #eee;
}
#header-row > div {
	padding: 6px;
}
#header-row > div:first-child {
	text-align: left;
}
#header-row > div:first-child * {
	vertical-align: middle;
}

#main-content {
	max-width: 700px;
	padding: 2em;
	margin: auto;
}
#logo {
	max-height: 40px;
}
#header-row h3 {
	margin: 0px;
	display: inline-block;
}
#header-row a {
	text-decoration: none;
	padding: 20px;
	position: relative;
	top: 2px;
}
#header-row a:hover {
	text-decoration: underline;
}
#header-row a.title {
	color: black;
	padding: 0px;
	top: 0px;
}
</style>

<div class='centered'>
	{% block header %}
	<div id='header-row'>
		<div>
			<a class='title' href='/'>
				<img id='logo' src='/static/logo-black.png'/>
				<h3>Instagrade</h3>
			</a>

			{% block controls %}
				<a href='/'>New quiz</a>
				{% if global_logout_url %}
				<a id='logout' href='{{ global_logout_url }}'>Log out {{ global_email }}</a>
				{% endif %}
			{% endblock %}
		</div>
	</div>
	{% endblock %}
	<div>
		<div>
			<div id='main-content'>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
