{% extends "base_email.html" %}

{% block content %}

<h1>Your quiz, <strong>{{form.title}}</strong>, has been created</h1>

<p>You've just created a quiz using InstaGrade:</p>
<h3>{{form.title}}</h3>
<p>To grade quizzes, download the <strong>InstaGrade Scanner</strong> app. It'll let you point your phone at completed quizzes to grade them. We'll email the results to you.</p>
<p class='cta-line'>
	<a href='http://{{HOST}}/download_scanner'>Download InstaGrade Scanner</a>
	<a href='http://{{HOST}}/{{secret}}/print'>Print out answer sheets</a>
</p>

{% endblock %}
