{% extends "base_email.html" %}

{% block content %}

<h1>Your quiz, <strong>{{form.title}}</strong>, has been created</h1>

<p>You've just created a quiz using InstaGrade:</p>
<h3>{{form.title}}</h3>
<p>To grade quizzes, download the <strong>InstaGrade Scanner</strong> app. It'll let you point your phone at completed quizzes to grade them. We'll email the results to you.</p>
<a class='cta' href='http://{{HOST}}/download_scanner'>Download InstaGrade Scanner</a>
<a class='cta' href='http://{{HOST}}/{{id}}/print'>Print out answer sheets</a>

{% endblock %}
