{% extends "centered.html" %}

{% block content %}

<h3>Download InstaGrade Scanner</h3>

<p style='opacity: 0.3'><a href='http://example.com'><img src='/static/appstore.svg' alt='Download on the iOS App Store'/></a></p>

<h2>InstaGrade Scanner is in beta</h2>
<p>If you'd like to scan quizzes, please <a href='/add_to_email_list'>sign up here.</a></p>

{% if token %}
<p>
	<br/>
	Scan this once code in the app to log in: <br/>
	<img src='/{{token}}/auth_token_qr_code' style='width: 100%; max-width: 280px'/>
</p>
{% endif %}

{% endblock %}

