{% extends "centered.html" %}

{% block content %}

<h3>Download InstaGrade Scanner</h3>

<p><a href='http://itunes.apple.com/genre/mobile-software-applications/id923914934?mt=8'><img src='/static/appstore.svg' alt='Download on the iOS App Store'/></a></p>

<script>

if (navigator.userAgent.match(/iPhone|iPad|iPod/)) {
	window.location = "itms-apps://itunes.apple.com/genre/mobile-software-applications/id923914934?mt=8";
}

</script>

{% if token %}
<p>
	<br/>
	Scan this once code in the app to log in: <br/>
	<img src='/{{token}}/auth_token_qr_code' style='width: 100%; max-width: 280px'/>
</p>
{% endif %}

{% endblock %}

