{% extends "base.html" %}

{% block head %}

<link rel='stylesheet' href='/static/form.css'/>
<link rel='stylesheet' href='/static/icomoon/style.css'/>

{% endblock %}

{% block body %}
	<form id='email-list' method='POST' action='/add_to_email_list'>
		<div>
			<p>Instagrade isn't ready yet — you can try out the answer-sheet creator, but the magical app that grades answer sheets isn't ready yet. If you'd like to beta-test the app before release (or if you want to know when it's on the App Store), you should sign up for updates:</p>
			<p>
				<input placeholder='email@school.edu' name='email' type='email'/>
				<input type='submit' value='Keep me posted'/>
			</p>
			<p id='subscribed'>Subscribed! We'll let you know when Instagrade is ready to go.</p>
		</div>
	</form>

	<div id='form'></div>
	
	{% if user %}
	<script>
	USER_EMAIL = "{{ user.email }}";
	LOGOUT_URL = "{{ logout_url }}";
	</script>
	{% else %}
	<script>
	USER_EMAIL = null;
	LOGOUT_URL = null;
	</script>
	{% endif %}
	
	<script type="text/jsx" src='/static/form.jsx'></script>
{% endblock %}
