{% extends "base.html" %}

{% block title %}
InstaGrade — Create printable quizzes and grade them instantly with your iPhone
{% endblock %}

{% block head %}

<script>
if (window.localStorage) {
	if (!window.localStorage.shownIntro && location.href.indexOf("?")==-1) {
		window.location = '/how-it-works';
	}
}
</script>

<link rel='stylesheet' href='/static/form.css'/>
<link rel='stylesheet' href='/static/icomoon/style.css'/>

{% if form_json %}
<div style='display: none' id='form_json'>{{form_json}}</div>
{% endif %}

<script>
if (window.innerWidth >= 737) {
	mixpanel.track("Open quiz creator");
}
</script>

{% endblock %}

{% block body %}

	<div id='form'>
		<noscript>
			<div>
				<div>
					<h1>InstaGrade</h1>
					<p>lets you create quizzes and tests on your computer, print them, then grade them automatically by taking a picture with your iPhone. We’ll email you the results.</p>
					<p>
						<a href='/how-it-works'>How it works</a>
					</p>
					<p><em>
					To create quizzes, please enable Javascript in your browser settings.
					</em></p>
				</div>
			</div>
		</noscript>
	</div>

	{% if user %}
	<script>
	USER_EMAIL = "{{ user.email }}";
	LOGOUT_URL = "{{ logout_url }}";
	</script>
	{% else %}
	<script>
	USER_EMAIL = null;
	LOGOUT_URL = null;
	</script>
	{% endif %}
	
	<div id='mobile-splash'>
		<div>
			<div>
				<p>InstaGrade lets you  <strong>create quizzes on your computer</strong> and <strong>grade them with your phone</strong>.</p>
				<img src='/static/how-it-works/Mobile.png'/>
				<a href='/download_scanner'>Download the scanner</a>
				<a href='/how-it-works'>Learn more</a>
				<a href='/' class='disabled'>Use your computer to create a quiz</a>
				<p>(if you <em>are</em> on a computer, please make your window wider.)</p>
			</div>
		</div>
	</div>
	
	{% if debug %}
	<script type="text/jsx" src='/static/jsx-src/form.jsx'></script>
	<script type="text/jsx">/** @jsx React.DOM */
	React.renderComponent(<FormEditor/>, document.getElementById('form'));
	</script>
	{% else %}
	<script src='/static/jsx-build/form.js'></script>
	<script>
	/** @jsx React.DOM */
	React.renderComponent(FormEditor(null), document.getElementById('form'));
	</script>
	{% endif %}
{% endblock %}
