{% extends "centered.html" %}

{% block head %}

{{ super() }}
<link rel='stylesheet' href='/static/form_page.css'/>

{% endblock %}

{% block content %}

{% if just_created %}

<h1>Created "{{ form.title }}"</h1>
<p>
Now you'll want to <a href='/{{secret}}/print'>print some quizzes</a> and <a href='/download_scanner'>download InstaGrade Scanner</a> to start scanning them. We've also sent you an email with a link to the app.
If want to change the quiz, you can <a href='/?f={{secret}}'>make a new quiz based off this one.</a>
</p>

{% else %}

<h1>{{ form.title }}</h1>
<p><a href='/{{secret}}/print'>Print answer sheets</a> | <a href='/download_scanner'>Download the Instagrade Scanner app</a> | <a href='/?f={{secret}}'>New quiz based off this</a></p>

{% endif %}

{% if instances|length > 0 %}

<table id='results'>
	<tr>
		<th colspan='2'>
			{{ instances|length }} copies graded, with an average score of {{ average_points }} / {{ instances[0].max_points }}.
		</th>
	</tr>
	
	{% for instance in instances %}
	<tr>
		<td>
			<img src='{{ instance.name_image_url }}'/>
		</td>
		<td class='score'>
			{{ instance.points }} / {{ instance.max_points }}
		</td>
		<!--<div class='date'>{{ instance.date }}</div>-->
	</tr>
	{% endfor %}
</div>

{% endif %}

{% endblock %}
